body {
  background-color: #E5E5E5;
  color: #757575 ;
}

.list {
  list-style: none;
}
/* цвет основного текста #757575 */
/* вторичный цвет текста #212121 */
/* цвет первого заголовка #FFFFFF */
/* цвет логотипа #2196F3 и #000000 */
/* цвет футер електронка и телефон color: rgba(255, 255, 255, 0.6); белый #000000*/
/* акцент #2196F3 */
/* вторичный цвет фона #2F303A #F5F4FA */
.logo {
  color: #000000;
}

/* Site nav */
.site-nav .link {
  color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196F3;
}